#container{
  background-color:white;
  height: 100%;
}
body{
  background-color:white;
}
html{
  background-color:white;
}
.sub-link{
  padding: 5px;
  margin-left: 2em;
}

.glava{
  height: 13%;
  width: 100%;
  background-color: #0069db;
  border-bottom: 0.1em gray solid;
  margin-left: 0.01%;
}
.kavarna{
  background-color: white;
  width:100%;
}
a{
  color: #00368e;
  font-weight:bolder;
}
.glava h1{
  padding: 1vh;
  font-size: 5vh;
}
.glava h2{
  padding-left: 1vh;
  margin-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1vh;
}
.colGlava{
  width: 100%;
}
.colKavarna{
  width: 100%;
}
.btn-block{
	margin-top:1vh;
}
.novIgralec{
    margin-left: 5vh;
}
#novIgralec input{
  width: 1em;
}
.input-group-text {
  width : 20vh; /*adjust as needed*/
}
textarea {
  resize: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gumbNov{
  width:15vh;
}

@media (max-width: 575.98px) {
  .gumbNov{
    width:10vh;
    font-size:2vh;
    padding: 0;
  }
  h3{
    font-size:3.5vh;
  }
  h5{
    font-size:2.3vh;
    margin-top: -0.5vh;
  }
  #container{
    background-color:white;
    margin-top: -5.1vh;
  }
}
.btnForma{
  margin:1vh;
  margin-top:5vh;
}
.form-control::-webkit-input-placeholder { color: #C0C0C0; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #C0C0C0; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #C0C0C0; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #C0C0C0; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #C0C0C0; }  /* Microsoft Edge */
.table-responsive{
  margin-top:2vh;
  margin-left: 1vh;
}

#calendar{
  margin: 1vh 0 0 1vh;
}
.modal-dialog{
  max-width: 50%;
  margin: auto;
}
.lokacije{
  margin-left: 1vh;
}
.lokacija{
  font-size:2vh;
}
#splosno{
  margin-left: 0.15vh;
}
::placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
:-ms-input-placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
::-ms-input-placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
#gLokacija{
  display: none;
}
#objava{
  text-align: center;
}
#objavaGumb{
  margin:0 ;
  padding: 0;
  width: 100vh;
  font-size: 2vh;
}
#basic-addon2{
  padding: 0;
  margin:0;
}
.feed{
  border: 1px solid #0055b3;
  padding: 0;
  margin-bottom: 2vh;
}
.feedRow{
  margin-top:0.5vh;margin-left:1vh;
}
.feedGlava{
  margin: 0;
  background-color: #007aff;
}
.btn-primary{
  background-color: #dfe4ed;
  color:black;
  border-color: #dfe4ed;
}
.btn-primary:hover{
  background-color: #bbbbbd;
  border-color: #bbbbbd;
}