#container{
  background-color:white;
  height: 100%;
}
body{
  background-color:white;
}
html{
  background-color:white;
}
.sub-link{
  padding: 5px;
  margin-left: 2em;
}
.glava{
  height: 14%;
  width: 100%;
  background-color: #0069db;
  border-bottom: 0.1em gray solid;
  margin-left: 0.01%;
}
.kavarna{
  background-color: white;
  width:100%;
}
a{
  color: #00368e;
  font-weight:bolder;
}
.glava h1{
  padding: 1vh;
  font-size: 5vh;
}
.glava h2{
  padding-left: 1vh;
  margin-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1vh;
}
.colGlava{
  width: 100%;
}
.colGlava p{
  margin-top: -1vh;
}
.colKavarna{
  width: 100%;
}
.btn-block{
	margin-top:1vh;
}
.novIgralec{
    margin-left: 5vh;
}
#novIgralec input{
  width: 1em;
}
.input-group-text {
  width : 20vh; /*adjust as needed*/
}
textarea {
  resize: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gumbNov{
  width:15vh;
}
.btnForma{
  margin:1vh;
  margin-top:5vh;
}
.form-control::-webkit-input-placeholder { color: #C0C0C0; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #C0C0C0; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #C0C0C0; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #C0C0C0; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #C0C0C0; }  /* Microsoft Edge */
.table-responsive{
  margin-top:2vh;
  margin-left: 1vh;
}

#calendar{
  margin: 1vh 0 0 1vh;
}
.modal-dialog{
  max-width: 50%;
  margin: auto;
}
.lokacije{
  margin-left: 1vh;
}
.lokacija{
  font-size:2vh;
}
#splosno{
  margin-left: 0.15vh;
}
::placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
:-ms-input-placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
::-ms-input-placeholder{
  font-style: italic;
  font-size: 1.5vh;
}
#gLokacija{
  display: none;
}
#objava{
  text-align: center;
}
#objavaGumb{
  margin:0 ;
  padding: 0;
  width: 100vh;
  font-size: 2vh;
}
#basic-addon2{
  padding: 0;
  margin:0;
}
.feed{
  border: 1px solid #0055b3;
  padding: 0;
  margin-bottom: 2vh;
}
.feedRow{
  margin-top:0.5vh;margin-left:1vh;
}
.feedGlava{
  margin: 0;
  background-color: #007aff;
}
.modalNav{
  width: 101.8%;
}
.btn-primary{
  background-color: #dfe4ed;
  color:black;
  border-color: #dfe4ed;
}
.btn-primary:hover{
  background-color: #bbbbbd;
  border-color: #bbbbbd;
}
.gumbKom{
  margin-top: -0.1%;
}
.feedKomentarGlava{
  background-color: #00a2ff;
}
.komentarVsebina{
  border: 1px solid black;
}
.prisotnostTabela{
  text-align: center;
}
.zelen{
  background-color:rgba(0,255,0,0.3);
  font-weight: bold;
}
.rdec{
  background-color:rgba(255,0,0,0.3);
  font-weight: bold;
}
.stevilke{
  width:8vh;
  text-align: center;
  margin-left: 0.5vh;
}
.stevilkeGroup{
  margin-left: 30vh;
}
.legenda{
  margin-top: -2vh;
  margin-bottom: -2vh;
}

.opravicen{
  color: red;
}
.cakamo{
  color: gold;
}
.placano{
  color: green;
}
.beseda{
  color:transparent;
  font-size:0px;
}
#focus{
  border:2px solid purple;
}
.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: black;
  font-family: inherit;
  font-size: inherit;
  display: table-cell;
  margin:20% 0 -20% 0;
  font-weight: bold;
  text-align: center;
}
.tabela_wrapper{
  width:100%;
}
@media (max-width: 575.98px) {
  .gumbNov{
    width:10vh;
    font-size:2vh;
    padding: 0;
  }
  h3{
    font-size:3.5vh;
  }
  h5{
    font-size:2.3vh;
    margin-top: -0.5vh;
  }
  #container{
    background-color:white;
    margin-top: -5.1vh;
  }
  .fc-center h2{
    font-size: 2.5vh !important;
  }
  .fc-button{
    width: 5.7vh !important;
    height: 3.7vh !important;
    font-size:1.2vh !important;
  }
  .modal-dialog{
    max-width: 100% !important;

  }
  .glava{
    height: 17%;
  }
  .modalNav{
    width: 107.5%;
  }
  .stevilke{
    width:8vh;
    text-align: center;
    margin-left: 0.5vh;
  }
  .stevilkeGroup{
    margin-left: 9vh;
  }
}
